{% set linkParams = params|merge({ 
    'sort': field, 
    'direction': ((params.sort == field) and (params.direction == 'asc'))?'desc':'asc' 
}) %}
<a href="{{ path(linkParams.action, linkParams) }}">{{ label }}</a>